# Core dependencies
ucapi==0.6.0
ucapi-framework==1.9.1
pyee>=9.0

# Web framework
flask>=3.0.0
werkzeug>=3.0.0
quart>=0.20.0
hypercorn>=0.18.0

# HTTP clients
aiohttp>=3.9.0
requests>=2.31.0

#Other dependencies
packaging>=25.0
markdown>=3.5.0